<ion-tabs>
  <ion-tab-bar slot="bottom" color="success">
    <ion-tab-button tab="tab1" disabled>
      <ion-icon name="home"></ion-icon>
      <ion-label>Nông trại</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" disabled>
      <ion-icon name="keypad"></ion-icon>
      <ion-label>Điều khiển</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" checked> 
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Cảnh báo </ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" disabled>
        <ion-icon name="book"></ion-icon>
        <ion-label>Nhật kí</ion-label>
      </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
